<div id="cookieConsent">
	<div class="cookie-consent-container">
		<div class="floaters">
			<div>
				Sorry for the interruption!
				We want to let you know that this site uses cookies to make sure the followings are working:

				<break></break>
				<ol>
					<li>Google Analytics (for collecting anonymous user statistics)</li>
					<li>Disqus (for the comment section)</li>
				</ol>

				If you agree, please close this message and continue using our site as intended!
			</div>

			<div id="cookieClose" class="button">
				<div class="btn-filled-green" id="cookieAll">
					<img src="/assets/images/down.svg">
					<div>Accept & Close</div>
				</div>

				<break></break>

				<div class="btn-filled-red" id="noCookie">
					<img src="/assets/images/cross.svg">
					<div>Don't Load Cookies</div>
				</div>
			</div>
		</div>
	</div>
</div>
