<div id="cookieConsent">
	<div class="cookie-consent-container">
		<div class="floaters">
			<div>
				Sorry for the interruption!
				We want to let you know that this site uses cookies to make sure the followings are working:

				<break></break>
				<ol>
					<li>Google Analytics (for collecting anonymous user statistics)</li>
					<li>Disqus (for the comment section)</li>
				</ol>

				If you agree, please close this message and continue using our site as intended!
			</div>

			<div id="cookieClose" class="buttons">
				<div class="btn-filled-green button" id="cookieAll">
					<img src="/assets/images/check.svg">
					<div>Accept</div>
				</div>

				<div class="btn-filled-red button" id="noCookie">
					<img src="/assets/images/cross.svg">
					<div>Reject</div>
				</div>
			</div>
		</div>
	</div>
</div>
