<div class="container-fluid mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 justify-content-center object-glow">
			<img src="/games/screenshots/mathMagic.webp" class="w-50 border-r-12" slide-delay="500">
		</div>

		<div class="col-md-6">
			<div style="display: flex; height: 100% ; align-items: center;">
				<div class="slide-intersect-it slide-left text-glow" slide-delay="250">
					<p class="highlight">Math Magic</p>
					<p>
						A simple math game to supercharge your brain!
					</p>

					<div class="object-glow btn-blade-anim iframe-toggler" toggler-data-target="#mathMagicGame > div.game-container" iframe-link="/games/math-magic/index.html"><span class="contact">Play Now!</span></div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div id="mathMagicGame">
				<div class="justify-content-center game-container"></div>
			</div>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-md-6 justify-content-center object-glow">
			<img src="/games/screenshots/fruitNinja.webp" class="w-50 border-r-12" slide-delay="500">
		</div>

		<div class="col-md-6">
			<div style="display: flex; height: 100% ; align-items: center;">
				<div class="slide-intersect-it slide-left text-glow" slide-delay="250">
					<p class="highlight">Fruit Ninja [Desktop Only]</p>
					<p>
						A simple fruit slicing game only for desktops!

						Instruction:
						Hover your cursor on fruits to slice ever them faster and faster!
					</p>

					<div class="object-glow btn-blade-anim iframe-toggler" toggler-data-target="#fruitSlicingGame > div.game-container" iframe-link="/games/fruit-ninja/index.html"><span class="contact">Play Now!</span></div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div id="fruitSlicingGame">
				<div class="justify-content-center game-container"></div>
			</div>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-md-6 justify-content-center object-glow">
			<img src="/games/screenshots/theRGBGuessingGame.webp" class="w-50 border-r-12" slide-delay="500">
		</div>

		<div class="col-md-6">
			<div style="display: flex; height: 100% ; align-items: center;">
				<div class="slide-intersect-it slide-left text-glow" slide-delay="250">
					<p class="highlight">The RGB Guessing Game</p>
					<p>
						A simple RGB colour guessing game!

						Instruction:
						Guess RGB colour and click on the correct answer!
					</p>

					<div class="object-glow btn-blade-anim iframe-toggler" toggler-data-target="#theRGBGuessingGame > div.game-container" iframe-link="/games/the-rgb-guessing-game/index.html"><span class="contact">Play Now!</span></div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div id="theRGBGuessingGame">
				<div class="justify-content-center game-container"></div>
			</div>
		</div>
	</div>
</div>
