<nav class="navbar navbar-expand-lg navbar-light mb-5">
	<div class="navbar-brand">
		<div style="margin-right: 8px">
			<a class="display-block object-glow" href="/">{% include logo.svg.html %}</a>
		</div>

		<div id="code-contain">
			<code class="code-logo text-code">irb></code>
			<code class="code-logo text-code" id="code">puts "Hello World!"</code>
			<span class="code-logo text-code" id="caret">&#x258B;</span>
		</div>
	</div>

	<button class="navbar-toggler invert" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item {% if page.active == 'home' %} active {% endif %}"><a class="nav-link text-glow-current" href="/">Home <span class="sr-only">(current)</span></a></li>
			<li class="nav-item {% if page.active == 'contact' %} active {% endif %}"><a class="nav-link text-glow-current" href="/contact" id="contact">Contact</a></li>
			<li class="nav-item {% if page.active == 'resume' %} active {% endif %}"><a class="nav-link text-glow-current" href="/resume">Resumé</a></li>
			<li class="nav-item {% if page.active == 'games' %} active {% endif %}"><a class="nav-link text-glow-current" href="/games">Games</a></li>
			<li class="nav-item {% if page.active == 'articles' %} active {% endif %}"><a class="nav-link text-glow-current" href="/articles">Articles</a></li>
			<li class="nav-item object-glow" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><a class="nav-link" target="_blank" href="//www.linkedin.com/in/sourav-goswami0/"><img src="/assets/images/linkedin.svg" class="icon24"></a></li>
			<li class="nav-item object-glow" data-toggle="tooltip" data-placement="bottom" title="Quora"><a class="nav-link" target="_blank" href="//www.quora.com/profile/Sourav-Goswami-17"><img src="/assets/images/quora.svg" class="icon24"></a></li>

			<li id="darkModeHeader" class="nav-item object-glow" data-toggle="tooltip" data-placement="bottom" title="Dark Mode">
				<div id="toggleDarkMode" class="nav-link">
					<div id="lamp">{% include lamp.svg.html %}</div>
					<div id="night">{% include night.svg.html %}</div>
				</div>
			</li>
		</ul>
	</div>
</nav>
