<div class="text">
	<div class="margin-top"></div>
	<div class="head background">
		<div class="row text-glow">
			<div class="col-md-4 center-top">
				<div>
					<div class="slide-intersect-it slide-right">
						<h1 class="">Sourav Goswami</h1>
						<h5>Ruby on Rails Developer</h5>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-7 center-top">
				<div class="slide-intersect-it slide-left">
					<div class="info">
						<div class="email">
							<img src="assets/resume-assets/mail.svg" class="icon24">
							<strong>Email:</strong> <a href="mailto:souravgoswami@protonmail.com">souravgoswami@protonmail.com</a>
							<div class="padding"><a href="mailto:sg97@protonmail.com">sg97@protonmail.com</a></div>
						</div>
						<div class="phone pt-2">
							<img src="assets/resume-assets/phone-call.svg" class="icon24">
							<strong>Phone:</strong> <a href="tel:+918335830664">(+91) 8335-830664</a>
						</div>
						<div class="address pt-2">
							<img src="assets/resume-assets/house.svg" class="icon24">
							<strong>Address:</strong> <a href="https://goo.gl/maps/NwppMZSm8ECp5k32A">13 Nandan Nagar, Belgharia, Kolkata 700083</a>
						</div>
						<div class="linkedin pt-2">
							<img src="assets/resume-assets/linkedin.svg" class="icon24">
							<strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/sourav-goswami0/">https://www.linkedin.com/in/sourav-goswami0/</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container p-4 text-glow">
		<h3 class="slide-intersect-it slide-down">Resume Objective</h3>
		<hr class="slide-intersect-it slide-down">
		<ul>
			<li class="slide-intersect-it slide-down">Experience in facilitating cutting-edge engineering solutions with a wide range of e-commerce application and technology skills.</li>
			<li class="slide-intersect-it slide-down">Proven ability to leverage full-stack knowledge using Ruby on Rails.</li>
			<li class="slide-intersect-it slide-down">Experience in designing beautiful, interactive, user-friendly, and responsive websites.</li>
			<li class="slide-intersect-it slide-down">Writes clean codes keeping performance in mind.</li>
			<li class="slide-intersect-it slide-down">Expertise in Unix and GNU/Linux system administration.</li>
			<li class="slide-intersect-it slide-down">Expertise in TDD and BDD.</li>
			<li class="slide-intersect-it slide-down">Experience in testing websites with Capybara + Selenium bot.</li>
			<li class="slide-intersect-it slide-down">Experience in writing colourful and interactive command line tools for GNU/Linux.</li>
			<li class="slide-intersect-it slide-down">Experience in automating daily tasks (web, GUI, TUI) with Ruby.</li>
			<li class="slide-intersect-it slide-down">Experience in creating software packages for linux (Debian and Arch Linux).</li>
		</ul>
		<h3 class="slide-intersect-it slide-right">Skills</h3>
		<hr class="slide-intersect-it slide-right">
		<div class="row p-3">
			<div class="col-md-6">
				<div class="slide-intersect-it slide-right" slide-delay="500">
					<h5>Programming Languages</h5>
					<div class="object-glow">
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-success"
								role="progressbar"
								aria-valuenow="95"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 95% ; color: #fff ;"
								>Ruby</div>
						</div>
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-success"
								role="progressbar"
								aria-valuenow="75"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 75% ; color: #fff ;"
								>Crystal</div>
						</div>
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-success"
								role="progressbar"
								aria-valuenow="70"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 70% ; color: #fff ;"
								>JavaScript</div>
						</div>
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-primary"
								role="progressbar"
								aria-valuenow="50"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 50% ; color: #fff ;"
								>Python</div>
						</div>
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-warning"
								role="progressbar"
								aria-valuenow="40"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 40% ; color: #fff ;"
								>C</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="slide-intersect-it slide-left">
					<h5>Web Frameworks</h5>
					<div class="object-glow">
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-success"
								role="progressbar"
								aria-valuenow="90"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 90% ; color: #fff ;"
								>Ruby on Rails</div>
						</div>
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-success"
								role="progressbar"
								aria-valuenow="80"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 80% ; color: #fff ;"
								>Jekyll</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row p-3">
			<div class="col-md-6">
				<div class="slide-intersect-it slide-right">
					<h5>Operating Systems</h5>
					<div class="object-glow">
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-success"
								role="progressbar"
								aria-valuenow="90"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 90% ; color: #fff ;"
								>GNU/Linux</div>
						</div>
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-success"
								role="progressbar"
								aria-valuenow="65"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 65% ; color: #fff ;"
								>Unix (BSD)</div>
						</div>
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-primary"
								role="progressbar"
								aria-valuenow="45"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 45% ; color: #fff ;"
								>Windows</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="slide-intersect-it slide-left" slide-delay="500">
					<h5>Software</h5>
					<div class="object-glow">
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-success"
								role="progressbar"
								aria-valuenow="90"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 90% ; color: #fff ;"
								>GIMP</div>
						</div>
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-success"
								role="progressbar"
								aria-valuenow="85"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 85% ; color: #fff ;"
								>LibreOffice</div>
						</div>
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-success"
								role="progressbar"
								aria-valuenow="75"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 75% ; color: #fff ;"
								>Inkscape</div>
						</div>
						<div class="progress m-2">
							<div class="progress-bar progress-bar-striped bg-primary"
								role="progressbar"
								aria-valuenow="55"
								aria-valuemax="100"
								aria-valuemin="0"
								style="font-weight: bold ; width: 55% ; color: #fff ;"
								>Blender</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<ul>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#f50" style="background-color: #f50f">
					<li class="skill-badge"><img src="assets/resume-assets/rails.png" class="icon16"><span class="skill-badge-label">Ruby on Rails</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#f55f"  style="background-color: #f55f">
					<li class="skill-badge"><img src="assets/resume-assets/ruby.png" class="icon16"><span class="skill-badge-label">Ruby Programming</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#f58f"  style="background-color: #f58f">
					<li class="skill-badge"><img src="assets/resume-assets/jekyll.png" class="icon16"><span class="skill-badge-label">Jekyll</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#3aaf"  style="background-color: #3aaf">
					<li class="skill-badge"><img src="assets/resume-assets/gtk.png" class="icon16"><span class="skill-badge-label">GTK3</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#ee7934ff"  style="background-color: #ee7934ff">
					<li class="skill-badge"><img src="assets/resume-assets/html5.png" class="icon16"><span class="skill-badge-label">HTML5</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#25a1e1ff"  style="background-color: #25a1e1ff">
					<li class="skill-badge"><img src="assets/resume-assets/css3.png" class="icon16"><span class="skill-badge-label">CSS3</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#EFD81Dff"  style="background-color: #EFD81Dff">
					<li class="skill-badge"><img src="assets/resume-assets/js.png" class="icon16"><span class="skill-badge-label">JavaScript</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#2A3137ff"  style="background-color: #2A3137ff">
					<li class="skill-badge"><img src="assets/resume-assets/shell.png" class="icon16"><span class="skill-badge-label">BASH / Shells</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#FEB70Aff"  style="background-color: #FEB70Aff">
					<li class="skill-badge"><img src="assets/resume-assets/linux.png" class="icon16"><span class="skill-badge-label">GNU/Linux</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#CE1009ff"  style="background-color: #CE1009ff">
					<li class="skill-badge"><img src="assets/resume-assets/bsd.png" class="icon16"><span class="skill-badge-label">BSD</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#666f"  style="background-color: #666f">
					<li class="skill-badge"><img src="assets/resume-assets/crystal.png" class="icon16"><span class="skill-badge-label">Crystal Programming</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#333f"  style="background-color: #000f">
					<li class="skill-badge"><img src="assets/resume-assets/inkscape.png" class="icon16"><span class="skill-badge-label">Inkscape</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#808777ff"  style="background-color: #808777ff">
					<li class="skill-badge"><img src="assets/resume-assets/gimp.png" class="icon16"><span class="skill-badge-label">GIMP</span></li>
				</div>
				<div class="tag inline slide-intersect-it slide-down object-glow" glow-color="#f76D0Eff"  style="background-color: #f76D0Eff">
					<li class="skill-badge"><img src="assets/resume-assets/blender.png" class="icon16"><span class="skill-badge-label">Blender</span></li>
				</div>
			</ul>
		</div>
		<br><br>

		<h3>Projects</h3>
		<hr class="slide-intersect-it slide-right">

		<div class="github slide-intersect-it slide-right" slide-delay="250">
			<h5>Github</h5>
			<a class="text-glow-current" href="https://github.com/Souravgoswami">Github - Sourav Goswami</a>
		</div>

		<br>

		<div class="cowspeak slide-intersect-it slide-right" slide-delay="250">
			<h5>I worked on some colourful TUI projects</h5>
			<a class="text-glow-current" href="https://github.com/Souravgoswami/cowspeak">Cowspeak</a>
			<br>
			<a class="text-glow-current" href="https://github.com/Souravgoswami/term-clock">Term Clock</a>
		</div>

		<br>

		<div class="theme slide-intersect-it slide-right" slide-delay="250">
			<h5>Theme I Created for Linux</h5>
			<p><a class="text-glow-current" href="https://www.gnome-look.org/p/1276216/">XFCE Colour</a>
			<p>
		</div>

		<div class="cursor slide-intersect-it slide-right" slide-delay="250">
			<h5>I have worked on a cursor set using Inkscape + Ruby</h5>
			<p><a  class="text-glow-current" href="https://www.gnome-look.org/p/1360254/">Oreo Cursors</a></p>
		</div>

		<div class="games slide-intersect-it slide-right" slide-delay="250">
			<h5>I made some games in the past using the Ruby2D library</h5>
			<a class="text-glow-current" href="http://www.ruby2d.com/showcase/">Showcase</a>
			<br>
			<p><a class="text-glow-current" href="https://youtu.be/8s--ZyTmFxU?t=3644">RubyConf 2018 - Lightning Talks</a></p>
		</div>

		<div class="aur slide-intersect-it slide-right" slide-delay="250">
			<h5 class="text-glow-current">I also have my own package to Arch User Repository (AUR)</h5>
			<a class="text-glow-current" href="https://aur.archlinux.org/packages/cowspeak/">cowspeak</a>
		</div>

		<br><br>

		<h3 class="slide-intersect-it slide-right">Achievements</h3>
		<hr class="slide-intersect-it slide-right">

		<div class="row">
			<div class="col-md-12">
				<h5 class="slide-intersect-it slide-right">Online Courses/Certificates:</h5>
				<h6 class="slide-intersect-it slide-right">Udemy</h6>

				<div class="slide-intersect-it slide-right">
					<a class="text-glow-current" href="https://www.udemy.com/certificate/UC-5ac2064d-fbcd-4eaf-a559-09bb9e09e615/">The Complete Ruby on Rails Developer Course</a>
				</div>

				<div class="slide-intersect-it slide-right">
					<a class="text-glow-current" href="https://www.udemy.com/certificate/UC-89fc19ee-a341-4daa-87ac-ea1957f3fa44/">Dissecting Ruby on Rails 5 - Become a Professional Developer</a>
				</div>

				<div class="slide-intersect-it slide-right">
					<a class="text-glow-current" href="https://www.udemy.com/certificate/UC-f34fab7e-4f4c-47dc-98d7-8fd5f37b8ab2/">Professional Rails Code Along</a>
				</div>

				<div class="slide-intersect-it slide-right">
					<a class="text-glow-current" href="https://www.udemy.com/certificate/UC-N7TBJZKM/">Learn to Code with Ruby</a>
				</div>

				<div class="slide-intersect-it slide-right">
					<a class="text-glow-current" href="https://www.udemy.com/certificate/UC-65bf39c3-60fb-4b3b-83d5-0233696bcb3a/">Creative CSS Animations, Transitions And Transforms Course</a>
				</div>

				<div class="slide-intersect-it slide-right">
					<a class="text-glow-current" href="https://www.udemy.com/certificate/UC-DB4O72RN/">The Complete Python Developer Course</a>
				</div>

				<div class="slide-intersect-it slide-right">
					<a class="text-glow-current" href="https://www.udemy.com/certificate/UC-IS68CREH/">BASH Programming Course: Master the Linux Command Line!</a>
				</div>

				<br>
				<h6 class="slide-intersect-it slide-right">Sololearn</h6>

				<div class="slide-intersect-it slide-right">
					<a class="text-glow-current" href="https://www.sololearn.com/Certificate/1081-7270906/pdf/">Ruby Tutorial</a>
				</div>

				<div class="slide-intersect-it slide-right">
					<a class="text-glow-current" href="https://www.sololearn.com/Certificate/1060-7270906/pdf/">SQL Fundamentals</a>
				</div>
			</div>

		</div>
			<div id="downloadResumeDiv">
				<div class="float-right">
					<a id="downloadResume" href="//github.com/Souravgoswami/resume-html/raw/master/PDF/Resume.pdf" download>
						{% include download.svg.html %}
						<!-- <img src="/assets/images/download.svg" class="icon64 object-glow"> -->
					</a>
				</div>
			</div>

		<br>
		<hr class="slide-intersect-it slide-right">
	</div>
</div>
