#footer {
	background-color: #222 ;
	color: #fff ;
	padding: 24px ;
	z-index: 1 ;
	position: relative ;

	ul {
		margin: 0 ;
		padding: 0 ;
		display: flex ;

		li {
			list-style: none ;
			color: #444 ;
			font-size: 24px ;
			font-family: 'Alice' ;
		}
	}

	p.footer-glow {
		filter: drop-shadow(0px 0px 2px #fff) ;
	}

	.icon24 {
		width: 24px ;
		height: 24px ;
		display: inline-block ;
		padding: 0 ;
		margin: 0 ;
	}
}
