@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
	src: local('PT Serif'), local('PTSerif-Regular'), url('assets/PTSerif.woff2') format('woff2');
}


body {
	font-family: 'PT Serif', serif ;
	margin: 0 ;
}

.margin-top {
	background-color: #55c ;
	padding: 12px ;
	border-top-left-radius: 4px ;
	border-top-right-radius: 4px ;
}

a {
	color: #55f !important ;
}

a:hover {
	color: #f55 !important ;
}

.head {
	background-color: #f5f5f5 ;
	width: 100% ;
	height: 100% ;
	text-align: left ;
	padding: 12px ;
}

.center-top {
	display: flex ;
	align-items: center ;
}

.block {
	display: block ;
	margin: 4px ;
}

.padding {
	margin-left: 96px ;
}

.tag {
	padding: 4px 6px !important ;
	display: inline-block ;
	border-radius: 4px ;
	margin: 4px 0px ;
	min-width: 64px ;
	text-align: center ;
	color: #fff ;
	filter: drop-shadow(3px 3px 2px #0004) ;
}

.tag li {
	list-style-type: none ;
}

.text-align-center {
	text-align: center !important ;
	vertical-align: middle !important ;
}

.skill-badge {
	cursor: pointer ;
	filter: drop-shadow(0px 0px 1px #0002) ;
}

.skill-badge-label {
	font-size: 16px ;
	padding: 4px ;
	filter: drop-shadow(2px 2px 2px #0005) ;
}

.icon24 {
	width: 24px !important ;
	height: 24px !important ;
	margin: 0px 8px ;
}

.icon16 {
	width: 24px !important ;
	height: 24px !important ;
	margin: 0px 8px ;

}

.info {
	display: block ;
	overflow: hidden ;
	text-align: left ;
	word-wrap: break-word ;
	overflow-wrap: break-word ;
}

.progress {
	filter: drop-shadow(3px 3px 2px #0003) ;
}
