---
---

.border-r-12 {
	border-radius: 12px ;
}

.game-container {
	height: 20% ;
	margin: 0 ;
	overflow: auto ;
	display: flex ;
	align-items: center ;
	justify-content: center ;

}

.iframe {
	border: none ;
	margin-top: 24px ;
	min-height: 720px ;
	height: 100vh ;
	max-height: 750px ;
	width: 100% ;
}

@for $i from 1 through 5 {
	#joypadButton#{$i} {
		cursor: grab ;
		transition: all 0.25s ease ;

		&:hover, &:active, &focus {
			filter: brightness(10) drop-shadow(0 0 4px #fff) ;

		}
	}
}
